<div class="container">

  <div class="starter-template">
    <h1>Starting a Civilization 5 multiplayer game?</h1>
    <p class="lead">Use this tool to check what options your group can play with.<br> Just add their Steam profile names below and click "Check!"</p>

    <%= render 'groups/new' %>
  </div>

</div>


